<div class="widget-box-overlay" *ngIf="loading">
  <i class=" ace-icon loading-icon fa fa-spinner fa-pulse fa-5x fa-fw white"></i>
</div>
<div [@flyInOut]="'in'">
  <div class="space-12"></div>
  <div class="col-sm-10 col-sm-offset-1">
    <div class="center">
      <app-logo></app-logo>
      <h1>
        <i class="ace-icon fa fa-key red"></i>
        <span id="id-text2">ความช่วยเหลือเกี่ยวกับการกู้คือรหัสผ่าน</span>
      </h1>
      <!-- <h3 class="blue">นายมาโนชญ์ กลางพิลา</h3> -->
    </div>
    <div class="login-container">
      <div class="position-relative">
        <div class="account-wall">
          <div class="form-signin">
            <form [@flyInOut]="'in'" #form="ngForm" (ngSubmit)="submitForgot(form.value)">
              <label class="block clearfix">
                <div class="form-group center">
                    <h4 class="red">โปรดใส่เลขประจำตัวประชาชนของคุณ แล้วกดส่ง <br>คุณจะได้รับคำแนะนำไปยัง E-mail</h4>
                </div>
                <hr>
                <div class="form-group" [ngClass]="{ 'has-error': hasErrorCid }">
                  <span class="block input-icon input-icon-right">
                    <input type="text"
                      class="form-control"
                      placeholder="ป้อนเลขประจำตัวประชาชน"
                      [focus]="isFocused"
                      (focus)="hasErrorCid=undefined"
                      id="Cid"
                      name="Cid"
                      [(ngModel)]="Cid"
                      maxlength="17"
                      FormatCid="true"
                    required />
                    <i class="ace-icon fa fa-paper-plane"></i>
                  </span>
                  <span class="help-block col-xs-12 col-sm-reset inline" *ngIf="hasErrorCid">
                    {{ hasErrorCid }}
                  </span>
                </div>
              </label>
              <div class="clearfix">
                <button type="submit" class="width-100 pull-right btn btn-sm btn-primary">
                  <i class="ace-icon fa fa-lightbulb-o"></i>
                  <span class="bigger-110">ส่ง!</span>
                </button>
              </div>
              <div class="space-6"></div>
              <div class="center">
                <br />
                <label>
                  <a [routerLink]="['/signin']" [queryParams]="{flowEntry: 'ServiceLogin'}" (click)="clearAccount()" class="user-signup-link blue">
                  <!--<a href="/signin" (click)="clearAccount()" class="user-signup-link blue">-->
                    ลงชื่อเข้าใช้ด้วยบัญชีใหม่
                  </a>
                </label>
              </div>
            </form>
          </div>
        </div>
        <!-- /.account-wall -->
        <div>
          <div class="space-6"></div>
          <div class="center">
            <label>
              <a [routerLink]="['/signup']" [queryParams]="{flowEntry: 'ServiceRegister'}" class="user-signup-link green">
                <i class="ace-icon fa fa-pencil-square-o" aria-hidden="true"></i>
                สร้างบัญชีใหม่
              </a>
            </label>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
      <!-- /.position-relative -->
    </div>
  </div>
  <!-- /.col -->
</div>