<div [@flyInOut]="'in'">
    <div class="space-16"></div>
    <div class="col-sm-10 col-sm-offset-1">
        <div class="center">
            <app-logo></app-logo>
            <h1>
                <i class="ace-icon fa fa-edit"></i>
                <span id="id-text2">สร้างบัญชี </span>
                <span id="id-text2">Smart Account </span>
                <span id="id-text2">ของคุณ</span>
            </h1>
        </div>
        <div class="login-container">
            <div class="position-relative">
                <div class="account-wall">
                    <div class="form-signin">
                      <h4 class="header lighter bigger" [class]="namePages[signupPage-1].color">
                        <i class="ace-icon fa {{ namePages[signupPage-1].icon }}"></i> 
                        {{ namePages[signupPage-1].name }}
                      </h4>
                        <app-logininformation (nextPage)="newPage($event)" [dataFormPage]="dataFormPage" *ngIf="signupPage==1"></app-logininformation>
                        <app-personalinformation (nextPage)="newPage($event)" [dataFormPage]="dataFormPage" *ngIf="signupPage==2"></app-personalinformation>
                        <app-workplaceinformation (nextPage)="newPage($event)" [dataFormPage]="dataFormPage" *ngIf="signupPage==3"></app-workplaceinformation>
                    </div>
                </div>
                <!-- /.account-wall -->
                <div>
                    <div class="space-6"></div>
                    <div class="center">
                        <label>
                            <a [routerLink]="['/signin']" [queryParams]="{flowEntry: 'ServiceLogin'}" class="user-signup-link green">
                                <i class="ace-icon fa fa-user" aria-hidden="true"></i>
                                กลับหน้าเข้าสู่ระบบ
                            </a>
                        </label>
                    </div>
                </div>
                <app-footer></app-footer>
            </div>
            <!-- /.position-relative -->
        </div>
    </div>
    <!-- /.col -->
</div>