<div [@flyInOut]="'in'">
  <div class="space-12"></div>
  <div class="col-sm-10 col-sm-offset-1">
    <div class="center">
      <app-logo></app-logo>
      <h1>
        <i class="ace-icon fa fa-key red"></i>
        <span id="id-text2">กรุณาตั้งรหัสผ่านใหม่!</span>
      </h1>
    </div>
    <div class="login-container">
      <div class="position-relative">
        <div class="account-wall">
          <div class="form-signin">
            <form [@flyInOut]="'in'" #form="ngForm" (submit)="submitNewPass(form.value)">
              <label class="block clearfix">
                <div class="form-group center">
                    <h4 class="blue">
                      รหัสผ่านป้อนได้เฉพาะ a-z,A-Z,0-9 และเครื่องหมายวรรคตอนทั่วไป 
                      <br>
                      รวมกันอย่างน้อย 8 ตัวอักษร!
                    </h4>
                </div>
                <hr>
                <span class="form-group">
                  <span class="block input-icon input-icon-right">
                    <input type="text"
                      class="form-control"
                      placeholder="OTP Token"
                      id="token"
                      name="token"
                      [(ngModel)]="token"
                      [disabled]="true"
                    required />
                    <i class="ace-icon fa fa-key fa-rotate-90"></i>
                  </span>
                </span>
              </label>
              <div class="hr hr2 hr-double"></div>
              <div class="space-6"></div>
              <label class="block clearfix">
                <div class="form-group" [ngClass]="{ 'has-error': pass1Error }">
                  <span class="block input-icon input-icon-right">
                    <input type="password"
                        class="form-control"
                        placeholder="รหัสผ่านใหม่ 8 ตัวอักษรขึ้น"
                        [focus]="isFocused"
                        (focus)="pass1Error=undefined"
                        (blur)="checkPass1(form.value)"
                        id="Password"
                        name="Password"
                        (ngModelChange)="changePass(form.value)"
                        [(ngModel)]="Password"
                    required />
                    <i class="ace-icon fa fa-lock"></i>
                  </span>
                  <span class="help-block col-xs-12 col-sm-reset inline" *ngIf="pass1Error">
                    {{ pass1Error }}
                  </span>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': pass2Error }">
                  <span class="block input-icon input-icon-right">
                    <input type="password"
                        class="form-control"
                        placeholder="ยืนยันรหัสผ่าน 8 ตัวอักษรขึ้น"
                        (focus)="pass2Error=undefined"
                        (blur)="checkPass2(form.value)"
                        id="PasswordAgain"
                        name="PasswordAgain"
                        [(ngModel)]="PasswordAgain"
                    required />
                    <i class="ace-icon fa fa-lock"></i>
                  </span>
                  <span class="help-block col-xs-12 col-sm-reset inline" *ngIf="pass2Error">
                    {{ pass2Error }}
                  </span>
                </div>
              </label>
              <div class="clearfix">
                <button type="submit" class="width-100 pull-right btn btn-sm btn-primary">
                  <i class="ace-icon fa fa-floppy-o"></i>
                  <span class="bigger-110">บันทึก</span>
                </button>
              </div>
              <div class="space-6"></div>
              <div class="center">
                <br />
                <label>
                  <a [routerLink]="['/signin']" [queryParams]="{flowEntry: 'ServiceLogin'}" (click)="clearAccount()" class="user-signup-link blue">
                    ลงชื่อเข้าใช้ด้วยบัญชีใหม่
                  </a>
                </label>
              </div>
            </form>
          </div>
        </div>
        <!-- /.account-wall -->
        <div>
          <div class="space-6"></div>
          <div class="center">
            <label>
              <a [routerLink]="['/signup']" [queryParams]="{flowEntry: 'ServiceRegister'}" class="user-signup-link green">
                <i class="ace-icon fa fa-pencil-square-o" aria-hidden="true"></i>
                สร้างบัญชีใหม่
              </a>
            </label>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
      <!-- /.position-relative -->
    </div>
  </div>
  <!-- /.col -->
</div>